<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <title>Ucd Repo Upload :: a Spring Framework Application</title>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/resources/app.css}" />

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>


</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">

                <li th:fragment="menuItem (path,active,text)" class="active"
                    th:class="${active==menu ? 'active nav-item' : 'nav-item'}">
                    <a th:href="@{__${path}__}" class="nav-link" th:text="${text}">

                    </a>
                </li>

                <li class="nav-item active" th:replace="::menuItem ('/','home','Home')">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item" th:replace="::menuItem ('/repolx/type/list','repolx','Repolx')">
                    <a class="nav-link" href="#">Repolx</a>
                </li>
                <li class="nav-item" th:replace="::menuItem ('/repowin/type/list','repowin','Repowin')">
                    <a class="nav-link" href="#">Repowin</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>





    <!--nav class="navbar navbar-dark navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}"><span></span></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span class="sr-only">
                        <os-p>Toggle navigation</os-p>
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="main-navbar">
                <ul class="nav navbar-nav navbar-right">

                    <li th:fragment="menuItem (path,active,title,glyph,text)" class="active"
                        th:class="${active==menu ? 'active' : ''}">
                        <a th:href="@{__${path}__}" th:title="${title}">
                            <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home"
                                aria-hidden="true"></span>
                            <span th:text="${text}">Template</span>
                        </a>
                    </li>

                    <li th:replace="::menuItem ('/','home','home page','home','Home')">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span>Home</span>
                    </li>

                    <li th:replace="::menuItem ('/repolx/type/list','repolx','Repolx Types','th-list','Repolx Types')">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <span>Repolx Types</span>
                    </li>

                    <li
                        th:replace="::menuItem ('/repowin/type/list','repowin','Repowin Types','th-list','Repowin Types')">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        <span>Repowin Types</span>
                    </li>

                    <li th:replace="::menuItem ('/logout','logout','Logout','th-logout','Logout')">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        <span>Error</span>
                    </li>

                </ul>
            </div>
        </div>
    </nav-->
    <main role="main" class="container">
        <th:block th:include="${template}" />
    </main>
    <!-- Footer -->
    <footer class="footer font-small bg-green">

        <!-- Copyright -->
        <div class="container">© 2019 ucd4
        </div>


    </footer>

</body>

</html>