// 1 - Load project variables.
// 2 - Load bootstrap sass files.
// 3 - Load custom app sass files.

// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------

//@import "../bower_components/bootstrap/scss/variables";
@import "variables";

// --------------------------------------------------------
// Import required bootstrap sass files needed for this project.
// Uncomment any bootstrap functionality required for this project.
// The idea is to keep this as small as possible.
// --------------------------------------------------------*/

/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/mixins";



/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/normalize";
//@import "../bower_components/bootstrap/scss/print";



/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/reboot";
//@import "../bower_components/bootstrap/scss/type";
//@import "../bower_components/bootstrap/scss/images";
//@import "../bower_components/bootstrap/scss/code";
//@import "../bower_components/bootstrap/scss/grid";
//@import "../bower_components/bootstrap/scss/tables";
//@import "../bower_components/bootstrap/scss/forms";
//@import "../bower_components/bootstrap/scss/buttons";



/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/animation";
//@import "../bower_components/bootstrap/scss/dropdown";
//@import "../bower_components/bootstrap/scss/button-group";
//@import "../bower_components/bootstrap/scss/input-group";
//@import "../bower_components/bootstrap/scss/custom-forms";
//@import "../bower_components/bootstrap/scss/nav";
//@import "../bower_components/bootstrap/scss/navbar";
//@import "../bower_components/bootstrap/scss/card";
//@import "../bower_components/bootstrap/scss/breadcrumb";
//@import "../bower_components/bootstrap/scss/pagination";
//@import "../bower_components/bootstrap/scss/pager";
//@import "../bower_components/bootstrap/scss/labels";
//@import "../bower_components/bootstrap/scss/jumbotron";
//@import "../bower_components/bootstrap/scss/alert";
//@import "../bower_components/bootstrap/scss/progress";
//@import "../bower_components/bootstrap/scss/media";
//@import "../bower_components/bootstrap/scss/list-group";
//@import "../bower_components/bootstrap/scss/responsive-embed";
//@import "../bower_components/bootstrap/scss/close";



/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/modal";
//@import "../bower_components/bootstrap/scss/tooltip";
//@import "../bower_components/bootstrap/scss/popover";
//@import "../bower_components/bootstrap/scss/carousel";



/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/utilities";
//@import "../bower_components/bootstrap/scss/utilities-background";
//@import "../bower_components/bootstrap/scss/utilities-spacing";
//@import "../bower_components/bootstrap/scss/utilities-responsive";



/* --------------------------------------------------------
   Custom application specific styles ----Test 
   -------------------------------------------------------- */
@import "base";


html {
  height: 100%;
}

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 5rem;
    padding-bottom: 77px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #6c6f73;
    overflow: auto;
    //min-height: 100%;
    //height:100%;
  }

h1,h2,h3,h4,h5 {
  color: #333;
  padding-bottom: 30px;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}


/* Login Page CSS */
.body-login {
  //all: unset;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../resources/images/background.jpg');
  background-color: black; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  //width: 100%;
  //display: contents;
}

.login-box {
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid $login-color;
  margin-bottom: 50px;
  padding: 13px;
  color: white;

}

.login-textbox {
  width: 100%;
  overflow: hidden;
  margin: 8px 0;
  padding: 8px 0;
  font-size: 20px;
  border-bottom: 1px solid $login-color ;

}

.login-textbox i {
  width: 26px;
  float: left;
  text-align: center;

}

.login-textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  float: left;
  width: 300px;
  margin: 0 10px;
  font-size: 18px;

}

.login-error {
  width: 100%;
  padding: 10px 10px;
  float: left;
  
}

.login-box .btn {
  width: 100%;
  background: none;
  border: 2px solid $login-color;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  
}

.login-box .btn:hover {
  background-color: $login-color;
  color: white;
}


ol.breadcrumb {
    padding: 5px 5px 10px 16px;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    list-style: none;
    color: $login-color;
    //background-color: #6db33f;
  }

ol.breadcrumb a {
  color: $first-color;
  
}

.btn-outline-primary {
  color: $first-color;
  border-color: $first-color;
}

div #addDirToVersion {
  margin-top: 10px;
  border: 2px solid $login-color;
  padding: 4px;
}

div #addFileToVersion {
  margin-top: 10px;
  border: 2px solid $login-color;
  padding: 4px;
}

div.addDir {
  margin-top: 10px;
  border: 2px solid $login-color;
  padding: 4px;
}

div.addFile {
  margin-top: 10px;
  border: 2px solid $login-color;
  padding: 8px;

}

div.custom-file {
  margin-bottom: 10px;
}


.footer {
  position: relative;
  margin-top: -20px; /* negative value of footer height */
  height: 20px;
  clear:both;
  padding-top:20px;
} 


.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

  
//   .footer > .container {
//     padding-right: 15px;
//     padding-left: 15px;
//   }





table#versionTable {
   margin-top: 20px;
}












