<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/layoutnew :: head('Rename Component')">
    <meta charset="UTF-8">
    <title>Rename Component</title>

<body>
    <div th:replace="fragments/layoutnew :: header (${homeBase})"></div>

    <nav aria-label="breadcrumb" th:object="${component}">
        <ol class="breadcrumb black">
            <li class="breadcrumb-item"><a th:href="@{'/index'}" href="#">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/{homebase}/type/list(homebase=${homeBase})}"
                    th:text="${homeBase}">Repolx</a></li>
            <li class="breadcrumb-item">
                <a href="#" th:href="@{/{homebase}/type/{type}/component/list(homebase=*{homeBase},type=*{type})}"
                    th:text="*{type}">mw</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page" th:text="${component.name}">Cadi</li>

        </ol>
    </nav>

    <div class="container">
        <h2>Rename Component </h2>
    </div>
    <div class="alert alert-danger" th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <div class=" container">
        <form th:object="${component}"
            th:action="@{/{homebase}/type/{type}/component/rename/{name}(homebase=*{homeBase},type=*{type}, name=*{name})}"
            method="post">
            <input type="hidden" th:field="*{type}" />
            <div class="form-group">
                <label>Old Name</label>
                <input type="text" name="oldname" disabled th:value="*{name}" value="cadi" class="form-control" />
            </div>
            <div class="form-group">
                <label>New Name</label>
                <input type="text" th:field="*{name}" value="cadi" autofocus class="form-control" placeholder="Name" />
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/layoutnew :: footer"></div>


</body>

</html>