<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
    <meta charset="UTF-8" />
    <title>Component Details</title>
</head>

<body>
    <ol class="breadcrumb">
        <li><a href="#" th:href="${'/index'}">Home</a></li>
        <li><a href="#" th:href="${'/component/'+component.type +'/list'}">Application</a></li>
    </ol>

    <h2 th:text="${component.name}">Component Details</h2>

    <table id="appcomponents" class="table table-striped">
        <tr>
            <th>Version</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="version: ${component.versions}">
            <td th:text="${version.directory}">Version</td>
            <td><a class="btn btn-default" href="#" th:href="${component.name + '/version/' + version.directory}">View</a>
            </td>
            <td><a class="btn btn-default" href="#" th:href="${component.name + '/version/edit/' + version.directory}">Edit</a>
            </td>
            <td><a class="btn btn-default" href="#" th:href="${component.name +'/version/delete/' + version.directory}">Delete</a>
            </td>
        </tr>
    </table>

    <a th:href="${component.name + '/version/new/'}" class="btn btn-default">New</a>



</body>

</html>