<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, ${homeBase})}">

<head>
    <meta charset="UTF-8">
    <title>Create/Edit Component</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>


    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#" th:href="@{'/index'}">Home</a></li>
            <li><a href="#" th:href="@{/{homebase}/type/list(homebase=${homeBase})}" th:text='*{homeBase}'>HomeBase</a>
            </li>
            <li><a href="#" th:href="@{/{homebase}/type/{type}/component/list(homebase=*{homeBase},type=*{type})}"
                    th:text='*{type}'>Types</a>
            </li>
        </ol>
    </div>

    <div class="container">
        <h2>Create / Edit Component</h2>
        <form th:object="${component}"
            th:action="@{/{homebase}/type/{type}/component(homebase=*{homeBase},type=*{type})}" method="post">
            <input type="hidden" th:field="*{type}" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Name">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>