<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, ${type})}">

<head>
    <meta charset="UTF-8" />
    <title>Application Components</title>
</head>

<body>
    <h2 th:text="|${type} components|">Application Components</h2>

    <table id="components" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Directory</th>
            <th>View</th>
            <th>Rename</th>
            <th>Delete</th>
        </tr>
        <tr th:each="component : ${components}">
            <td th:text="${component.name}">Component Name</td>
            <td th:text="${component.directory}">Component Directory</td>
            <td><a class="btn btn-default" href="#" th:href="${component.name}">View</a>
            </td>
            <td><a class="btn btn-default" href="#" th:href="${'edit/' + component.name}">Rename</a>
            </td>
            <td><a class="btn btn-default" href="#" th:href="${'delete/' + component.name}">Delete</a>
            </td>
        </tr>
    </table>
    <a th:href="${'new'}" class="btn btn-default">New</a>


</body>

</html>