<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/layout :: layout (~{::body}, ${version.ucdComponent.type})}">

<head>
    <meta charset="UTF-8" />
    <title>Version of a Components</title>
</head>

<body>

    <ol class="breadcrumb">
        <li><a href="#" th:href="@{'/index'}">Home</a></li>
        <li><a href="#" th:href="@{'/component/'+${version.ucdComponent.type} +'/list'}"
                th:text="${version.ucdComponent.type}">Application</a>
        </li>
        <li><a href="#" th:href="@{'/component/'+${version.ucdComponent.type} +'/'+${version.ucdComponent.name}}"
                th:text="${version.ucdComponent.name}">Cadi</a></li>
    </ol>

    <h2 th:text="|Version ${version.directory} of ${version.ucdComponent.name}|">Versions of Component</h2>

    <table id="files" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Directory</th>
        </tr>
        <tr th:each="file : ${version.files}">
            <td th:text="${file.name}">File Name</td>
            <td th:text="${file.absolutePath}">File Directory</td>
        </tr>
    </table>

</body>

</html>