<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layoutnew :: head('Edit Version')">
    <meta charset="UTF-8">
    <title>Edit Version</title>
</head>

<body>
    <div th:replace="fragments/layoutnew :: header (${homeBase})"></div>

    <nav aria-label="breadcrumb">

        <ol class="breadcrumb" th:object="${version.ucdComponent}">
            <li class="breadcrumb-item"><a href="#" th:href="@{'/index'}">Home</a></li>
            <li class="breadcrumb-item"><a href="#" th:href="@{/{homebase}/type/list(homebase=*{homeBase})}"
                    th:text='*{homeBase}'>HomeBase</a>
            </li>
            <li class="breadcrumb-item"><a href="#"
                    th:href="@{/{homebase}/type/{type}/component/list(homebase=*{homeBase},type=*{type})}"
                    th:text='*{type}'>Component</a>
            </li>
            <li class="breadcrumb-item"><a href="#"
                    th:href="@{/{homebase}/type/{type}/component/{component}(homebase=*{homeBase},type=*{type}, component=*{name})}"
                    th:text="*{name}">Testapp</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${version.directory}">1.1.1</li>
        </ol>

    </nav>
    <div class="container">

        <h2 th:text="|Edit Version for ${version.ucdComponent.name}|">Edit Version</h2>


        <form th:object="${version}"
            th:action="@{/{homebase}/type/{type}/component/{component}/version/rename/{versionnummer}(homebase=*{ucdComponent.homeBase},type=*{ucdComponent.type}, component=*{ucdComponent.name}, versionnummer=*{directory})}"
            method="post">

            <input type="hidden" th:field="*{ucdComponent.name}" />
            <div class="form-group">

                <label>Version</label>
                <input type="text" th:field="*{directory}" class="form-control" placeholder="Version">

            </div><!-- /input-group -->
            <button type="submit" class="btn btn-outline-primary">Rename</button>
            <a class="btn btn-outline-primary" data-toggle="collapse" href="#addFileToVersion">Add File</a>
            <a class="btn btn-outline-primary" data-toggle="collapse" href="#addDirToVersion">Add Dir</a>

        </form>
        <div id="addDirToVersion" class="collapse" th:object="${version}">
            <form
                th:action="@{/{homebase}/type/{type}/component/{component}/version/createdir/{versionnumber}(homebase=*{ucdComponent.homeBase},type=*{ucdComponent.type},component=*{ucdComponent.name},versionnumber=*{directory})}"
                method="post">
                <input name="absoluteParentPath" type="hidden" th:value="${version.getAbsoluteVersionPath()}" />
                <div class="form-group">
                    <input type="text" name="dirname" class="form-control" placeholder="New Directory Name">
                </div>

                <button type=" submit" class="btn btn-outline-primary">Add</button>
            </form>

        </div>
        <div id="addFileToVersion" class="collapse" th:object="${version}">
            <form
                th:action="@{/{homebase}/type/{type}/component/{component}/version/addfile/{versionnumber}(homebase=*{ucdComponent.homeBase},type=*{ucdComponent.type},component=*{ucdComponent.name},versionnumber=*{directory})}"
                method="post" enctype="multipart/form-data">
                <input name="absoluteParentPath" type="hidden" th:value="${version.getAbsoluteVersionPath()}" />

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="file">
                    <label class="custom-file-label" for="customFile">Choose File</label>
                </div>

                <script>
                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                </script>
                <button type=" submit" class="btn btn-outline-primary">Add</button>

            </form>

        </div>


        <table id="versionTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="file , istat: ${version.files}">
                    <td th:text="${file.name}">File Name</td>
                    <td th:text="${file.absolutePath}">File Directory</td>
                    <td>

                        <div>
                            <form
                                th:action="@{/{homebase}/type/{type}/component/{component}/version/deletefile/{versionnummer}(homebase=${version.ucdComponent.homeBase},type=${version.ucdComponent.type}, component=${version.ucdComponent.name}, versionnummer=${version.directory})}"
                                method="post">
                                <a th:if="${file.isDirectory()}" data-toggle="collapse"
                                    th:href="|#addDir${istat.index}|" class="btn btn-outline-primary">Add Dir </a>
                                <a th:if="${file.isDirectory()}" data-toggle="collapse"
                                    th:href="|#addFile${istat.index}|" class="btn btn-outline-primary">Add File</a>

                                <input name="filepath" type="hidden" th:value="${file.absolutePath}" />
                                <button type="submit" class="btn btn-outline-primary">Delete

                                </button>
                            </form>
                        </div>
                        <div th:id="|addDir${istat.index}|" class="collapse addDir">
                            <form
                                th:action="@{/{homebase}/type/{type}/component/{component}/version/createdir/{versionnummer}(homebase=${version.ucdComponent.homeBase},type=${version.ucdComponent.type}, component=${version.ucdComponent.name}, versionnummer=${version.directory})}"
                                method="post">
                                <input name="absoluteParentPath" type="hidden" th:value="${file.absolutePath}" />
                                <div class="form-group">
                                    <input type="text" name="dirname" class="form-control"
                                        placeholder="New Directory Name">
                                </div>

                                <button type=" submit" class="btn btn-outline-primary">Add</button>
                            </form>

                        </div>
                        <div th:id="|addFile${istat.index}|" class="collapse addFile">
                            <form
                                th:action="@{/{homebase}/type/{type}/component/{component}/version/addfile/{versionnummer}(homebase=${version.ucdComponent.homeBase},type=${version.ucdComponent.type}, component=${version.ucdComponent.name}, versionnummer=${version.directory})}"
                                method="post" enctype="multipart/form-data">
                                <input name="absoluteParentPath" type="hidden" th:value="${file.absolutePath}" />


                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="file">
                                    <label class="custom-file-label" for="customFile">Choose File</label>
                                </div>

                                <script>
                                    // Add the following code if you want the name of the file appear on select
                                    $(".custom-file-input").on("change", function () {
                                        var fileName = $(this).val().split("\\").pop();
                                        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                    });
                                </script>

                                <button type=" submit" class="btn btn-outline-primary">Add</button>
                            </form>

                        </div>

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
    <div th:replace="fragments/layoutnew :: footer"></div>

</body>

</html>