<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layoutnew :: head('New Version')">
    <meta charset="UTF-8">
    <title>Create Version</title>
</head>

<body>
    <div th:replace="fragments/layoutnew :: header (${homeBase})"></div>

    <nav aria-label="breadcrumb" th:object="${component}">
        <ol class="breadcrumb black" th:object="${version.ucdComponent}">
            <li class="breadcrumb-item"><a href="#" th:href="@{'/index'}">Home</a></li>
            <li class="breadcrumb-item"><a href="#" th:href="@{/{homebase}/type/list(homebase=*{homeBase})}"
                    th:text='*{homeBase}'>HomeBase</a>
            </li>
            <li class="breadcrumb-item"><a href="#"
                    th:href="@{/{homebase}/type/{type}/component/list(homebase=*{homeBase},type=*{type})}"
                    th:text='*{type}'>Component</a>
            </li>
            <li class="breadcrumb-item"><a href="#"
                    th:href="@{/{homebase}/type/{type}/component/{component}(homebase=*{homeBase},type=*{type}, component=*{name})}"
                    th:text="*{name}">Testapp</a></li>
        </ol>
    </nav>
    <div class="container">

        <h2 th:text="|Create Version for ${version.ucdComponent.name}|">Create Version</h2>

        <!-- th:action="@{'/version/{component}(component=*{ucdComponent.name})}"-->
        <form th:object="${version}"
            th:action="@{/{homeBase}/type/{type}/component/{component}/version(homeBase=*{ucdComponent.homeBase},type=*{ucdComponent.type}, component=*{ucdComponent.name})}"
            method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{ucdComponent.name}" />
            <div class="form-group">
                <label>Version</label>
                <input type="text" th:field="*{directory}" class="form-control" placeholder="Version">
            </div>

            <div class="form-group">
                <label>File to upload</label>
                <input type="file" name="file" />

            </div>



            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
    <div th:replace="fragments/layoutnew :: footer"></div>

</body>

</html>