<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/layout :: layout (~{::body}, ${version.ucdComponent.type})}">


<head>
    <meta charset="UTF-8">
    <title>Edit Version</title>


    <script type='text/javascript' src='http://code.jquery.com/jquery-2.0.2.js'></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <ol class="breadcrumb" th:object="${version}">
            <li><a href="#" th:href="@{'/index'}">Home</a></li>
            <li><a href="#" th:href="@{/component/{type}/list(type=*{ucdComponent.type})}"
                    th:text='*{ucdComponent.type}'>Application</a>
            </li>
            <li><a href="#"
                    th:href="@{/component/{type}/{component}(type=*{ucdComponent.type}, component=*{ucdComponent.name})}"
                    th:text="*{ucdComponent.name}">Testapp</a></li>
        </ol>

        <h2 th:text="|Edit Version for ${version.ucdComponent.name}|">Edit Version</h2>
    </div>

    <div class="container">
        <form th:object="${version}"
            th:action="@{/component/{type}/{component}/version(type=*{ucdComponent.type}, component=*{ucdComponent.name})}"
            method="post" enctype="multipart/form-data">

            <input type="hidden" th:field="*{ucdComponent.name}" />
            <div class="form-group">

                <label>Version</label>
                <input type="text" th:field="*{directory}" class="form-control" placeholder="Version">

            </div><!-- /input-group -->
            <a class="btn btn-default" type="button">Rename</a>
            <a class="btn btn-default" href="#">Add File</a>
            <a class="btn btn-default" href="#">Add Dir</a>
        </form>
    </div>
    <div class="container">

        <span>&nearrow;</span>

        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="file : ${version.files}">
                    <td th:text="${file.name}">File Name</td>
                    <td th:text="${file.absolutePath}">File Directory</td>
                    <td>
                        <a class="btn btn-default" href="#">Delete</a>
                        <a th:if="${file.isDirectory()}" class="btn btn-default" role="button" data-toggle="collapse"
                            href="#addDir" aria-expanded="false" aria-controls="addDir">
                            Add Dir
                        </a>
                        <div th:if="${file.isDirectory()}" class="collapse" id="addDir">
                            <div class="well">
                                <div class="form-group">
                                    <label>Subdirectory</label>
                                    <input type="text" class="form-control" placeholder="Subdirectory">
                                </div>
                                <div>
                                    <button type=" submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                        <a th:if="${file.isDirectory()}" class="btn btn-default" role="button" data-toggle="collapse"
                            href="#addFile" aria-expanded="false" aria-controls="addFile">
                            Add File
                        </a>
                        <div th:if="${file.isDirectory()}" class="collapse" id="addFile">
                            <div class="well">
                                <div class="form-group">
                                    <label>File to upload</label>
                                    <input type="file" name="file" />

                                </div>
                                <button type=" submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>



                    </td>
                </tr>
                <tr th:remove="all">
                    <td>cadi.war</td>
                    <td>/opt/repolx/application/cadi/1.0/cadi.wari</td>
                    <td>

                    </td>
                </tr>
                <tr th:remove="all">
                    <td>Prod</td>
                    <td>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#addDir"
                            aria-expanded="false" aria-controls="addDir">
                            Add Dir
                        </a>
                        <div class="collapse" id="addDir">
                            <div class="well">
                                <div class="form-group">
                                    <label>Subdirectory</label>
                                    <input type="text" class="form-control" placeholder="Subdirectory">
                                </div>
                                <div>
                                    <button type=" submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#addFile"
                            aria-expanded="false" aria-controls="addFile">
                            Add File
                        </a>
                        <div class="collapse" id="addFile">
                            <div class="well">
                                <div class="form-group">
                                    <label>File to upload</label>
                                    <input type="file" name="file" />

                                </div>
                                <button type=" submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>



                    </td>
                </tr>


                <tr>
                    <td>test</td>
                    <td></td>
                    <td>

                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Add Dir</a></li>
                                <li><a href="#">Add File</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>

                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>