<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layoutnew :: head('Create Version')">
    <meta charset="UTF-8">
    <title>Create Version</title>
</head>

<body>
    <div th:replace="fragments/layoutnew :: header (${homeBase})"></div>


    <nav aria-label="breadcrumb" th:object="${component}">
        <ol class="breadcrumb black" th:object="${version.ucdComponent}">
            <li class="breadcrumb-item"><a href="#" th:href="@{'/index'}">Home</a></li>
            <li class="breadcrumb-item"><a href="#" th:href="@{/{homebase}/type/list(homebase=*{homeBase})}"
                    th:text='*{homeBase}'>HomeBase</a>
            </li>
            <li class="breadcrumb-item"><a href="#"
                    th:href="@{/{homebase}/type/{type}/component/list(homebase=*{homeBase},type=*{type})}"
                    th:text='*{type}'>Component</a>
            </li>
            <li class="breadcrumb-item"><a href="#"
                    th:href="@{/{homebase}/type/{type}/component/{component}(homebase=*{homeBase},type=*{type}, component=*{name})}"
                    th:text="*{name}">Testapp</a></li>
        </ol>
    </nav>

    <div class="container">

        <h2 th:text="|Create / Edit Version for ${version.ucdComponent.name}|">Create/Edit Version</h2>



        <form th:object="${version}"
            th:action="@{/{homeBase}/type/{type}/component/{component}/version(homeBase=*{ucdComponent.homeBase},type=*{ucdComponent.type}, component=*{ucdComponent.name})}"
            method="post">


            <input type="hidden" th:field="*{ucdComponent.name}" />
            <div class="form-group">

                <label>Version</label>
                <input type="text" th:field="*{directory}" class="form-control" placeholder="Version">

            </div><!-- /input-group -->
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <button disabled class="btn btn-outline-primary">Add File</button>
            <button disabled class="btn btn-outline-primary">Add Dir</button>



            <table id="versionTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Path</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="file , istat: ${version.files}">
                        <td th:text="${file.name}">File Name</td>
                        <td th:text="${file.absolutePath}">File Directory</td>
                        <td>

                        </td>
                    </tr>


                </tbody>
            </table>

        </form>

    </div>



    <div th:replace="fragments/layoutnew :: footer"></div>

</body>

</html>